.main {
  position: relative;

  &__wrapper {
    display: flex;
    //align-items: center;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
   }

  &__description-title {
    font-size: 4.8rem;
  }

  &__description-subtitle {

  }

  &__description-text {
    font-size: 2rem;
    font-weight: 600;
    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__btn {
    display: block;
    width: fit-content;
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 6px;
    background-color: #269384;
    color: #FFF;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s;
    &:hover {
      background-color: #FFF;
      color: #269384;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 50%;
    height: fit-content;
    transition: .3s;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%, 0);
      width: 95%;
      height: 50%;
      border-radius: 50%;
      background-color: #f5f5f5;
      box-shadow: 0 0 8px 8px rgba(245, 245, 245, 1);
      z-index: -5;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/idea.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 10%;
      height: 14%;
      top: 0;
      left: 33%;
      animation: 2s linear infinite bounce;
    }

    @keyframes bounce {
      0% {
        top: 0;
      }
      25% {
        top: 5px;
      }

      50% {
        top: 10px;
      }

      75% {
        top: 5px;
      }

      100% {
        top: 0;
      }
    }

  }

  &__img {
    display: block;
    width: 100%;
    border-radius: 6px;
    object-fit: contain;
  }
}